<div class="container marketing">
  <div class="row content-row">
    <div class="col-2 hidden-xs-down">
      <div class="row">
        <nav class="col-12 bg-faded sidebar">
          <h4>Категории: </h4>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item" *ngFor="let category of categories">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/products']" [queryParams]="{cat: category._id}" queryParamsHandling="merge">{{category.name}}</a>
            </li>
          </ul>
        </nav>
      </div><!-- /.row -->
    </div>

    <div class="col-xl-10">
      <div class="row"><h3>Товары:</h3></div>
      <div class="row">
        <span>Сортировать по цене:</span>
        <a class="sort-link" [routerLink]="['/products']" [queryParams]="{priceOrder: 'asc'}" queryParamsHandling="merge">↧</a>
        <a class="sort-link" [routerLink]="['/products']" [queryParams]="{priceOrder: 'desc'}" queryParamsHandling="merge">↥</a>
      </div>

      <div class="row">
        <div *ngFor="let product of currentProducts" class="col-md-3 col-sm-3 col-lg-3 product-item">
          <a routerLink="/product/{{product._id}}">
            <div class="row justify-content-center">
              <img class="product-photo" src="{{product.photo}}">
            </div>
            <div class="row justify-content-center">
              <span>{{product.name}}</span>
            </div>
            <div class="row justify-content-center">
              <span>{{product.price | currency:'RUR':true:'4.2-2'}} руб.</span>
            </div>
          </a>
        </div>
      </div><!-- /.row -->
    </div>
  </div>

  <div class="row content-row">
    <div class="col">
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
      <footer>
        <p class="float-right">
          <a href="#">Наверх</a>
        </p>
        <p>
          &copy; 2017 лучший магазин. &middot; <a href="#">Политика обработки ПДн</a> &middot; <a href="#">Правила</a>
        </p>
      </footer>
    </div>
  </div>

</div><!-- /.container -->