<div class="container marketing">
    
    <div class="row content-row">
        <div class="col">
            <h3>Новинки</h3>

            <div class="row">
                
            </div><!-- /.row -->
        </div>
    </div>

    <div class="row content-row">
        <div class="col">
            <h3>Каталог</h3>

            <div class="row">
                
            </div><!-- /.row -->
        </div>
    </div>
    
    <div class="row content-row">
        <div class="col">
            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
            <!-- FOOTER -->
            <footer>
                <p class="float-right">
                    <a href="#">Наверх</a>
                </p>
                <p>
                    &copy; 2017 лучший магазин. &middot; <a href="#">Политика обработки ПДн</a> &middot; <a href="#">Правила</a>
                </p>
            </footer>
        </div>
    </div>

</div><!-- /.container -->