<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="slide-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Лучший товар.</h1>
                    <p>Покупайте только сегодня. Лучшая модель.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Купить в 1 клик</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="slide-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Лучший товар.</h1>
                    <p>Покупайте только сегодня. Лучшая модель.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Купить в 1 клик</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="slide-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h1>Лучший товар.</h1>
                    <p>Покупайте только сегодня. Лучшая модель.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Купить в 1 клик</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Вперед</span>
    </a>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    
    <div class="row content-row">
        <div class="col">
            <h3>Новинки</h3>

            <div class="row">
                <div *ng-for="#product of newProducts" class="col-md-3 col-sm-3 col-lg-3 product-item">
                    <a routerLink="/product/{{product._id}}">
                        <div class="row justify-content-center">
                            <img class="product-photo rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140" height="140">
                        </div>
                        <div class="row justify-content-center">
                            <span>{{product.Name}}</span>
                        </div>
                        <div class="row justify-content-center">
                            <span>{{product.Price}} руб.</span>
                        </div>
                    </a>
                </div>
            </div><!-- /.row -->
        </div>
    </div>

    <div class="row content-row">
        <div class="col">
            <h3>Каталог</h3>

            <div class="row">
                <div *ng-for="#category of topCategories" class="col-md-4 col-sm-4 col-lg-4">
                    <a routerLink="/category/{{category._id}}">
                        <div class="row justify-content-center">
                            <img class="product-photo rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="190" height="190">
                        </div>
                        <div class="row justify-content-center">
                            <span>{{category.Name}}</span>
                        </div>
                    </a>
                </div>
            </div><!-- /.row -->
        </div>
    </div>
    
    <div class="row content-row">
        <div class="col">
            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->
            <!-- FOOTER -->
            <footer>
                <p class="float-right">
                    <a href="#">Наверх</a>
                </p>
                <p>
                    &copy; 2017 лучший магазин. &middot; <a href="#">Политика обработки ПДн</a> &middot; <a href="#">Правила</a>
                </p>
            </footer>
        </div>
    </div>

</div><!-- /.container -->